<!DOCTYPE html>

{% extends 'bases/base.html' %}
{% load static %}

{% block 'head' %}
    <meta charset="UTF-8">              
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/homepage.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&display=swap">
    <script src="{% static 'home/js/homepage.js' %}"></script>
{% endblock %}

{% block 'body' %}

    <div class="content">
        <div style="overflow: hidden;">
            <img src="{% static 'home/img/logo_header.png' %}"class="header-logo-image">
            <div style="text-align: center;">
                <p class="header-specialties-text"><strong>TELEMEDICINA</strong></p>
                <p class="header-specialties-text"><strong>E-COMERCE</strong></p>
                <p class="header-specialties-text"><strong>PRONTUÁRIO DIGITAL</strong></p>
                <p class="header-specialties-text"><strong>BEM-ESTAR</strong></p>
                <div class="header-signup-text">
                    <p onclick="scrollDown()"><strong>LOGIN</strong></p>
                    <p onclick="scrollDown()"><strong>CADASTRE-SE</strong></p>
                </div>
            </div>
        </div>
    </div>

    <div class="imagemPrincipal"></div>

    <div style="text-align: center; margin-top: 700px;">
        <h1 class="homepage-title"> BEM-ESTAR MARINGÁ</h1>
        <h3 class="homepage-subtitle"> o controle da saude na palma da sua mão</h2>
    </div>

    <div style="text-align: center;">
        <p class="homepage-meet-services">CONHEÇA NOSSOS SERVIÇOS</p>
    </div>

        

        <div style="text-align: center;">
            <div class="image-container">
                <img src="{% static 'home/img/image_2.png' %}" alt="" class="imagem">
                <p class="telemedicina-undertext">TELEMEDICINA</p>
            </div>
            <div class="image-container">
                <img src="{% static 'home/img/image_3.png' %}" alt="" class="imagem">
                <p class="medical-record-undertext">PRONTUÁRIO DIGITAL</p>
            </div>
            <div class="image-container">
                <img src="{% static 'home/img/image_4.png' %}" alt="" class="imagem">
                <p class="ecommerce-undertext">E-COMMERSE</p>
            </div>
        {% comment %} </div>
        <div style="text-align: center; height: 50px;"> {% endcomment %}
            <div class="image-container">
                <img src="{% static 'home/img/image_5.png' %}" alt="" class="imagem">
                <p class="chat-undertext">CHAT</p>
            </div>
            <div class="image-container">
                <img src="{% static 'home/img/image_6.png' %}" alt="" class="imagem">
                <p class="well-being-undertext">BEM-ESTAR</p>
            </div>
            <div class="image-container">
                <img src="{% static 'home/img/ret_prontuario.png' %}" alt="" class="imagem">
                <p class="schedule-undertext">AGENDA</p>
            </div>
        </div>
    </div>

    <div class="imagemMedicos">

        <h1 class="homepage-meet-doctors"> CONHEÇA NOSSAS ESPECIALIDADES</h1>

        <div class="especialties-group">
            <div class="column-specialties">
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                    <br>
            </div>
            <div class="column-specialties">
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                    <br>
            </div>
            <div class="column-specialties">
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                    <br>
            </div>
            <div class="column-specialties">
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                    <br>
            </div>
            <div class="column-specialties">
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                    <br>
            </div>
        </div>

        <div class="barrabranca"> </div>

        <div class="signin-group">

            {% if messages %}
                {% for message in messages %}
                    <div class="{{ message.tags }}" style="top: 150px">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <div class="container1">

                <div class="vertical-bar"></div>

                <div class="footer-logo"></div>

                    <form action="{% url 'realizar_cadastro' %}" method="post"> {% csrf_token %}

                        <label for='input-name-signup' class="input-name-signup-text">INSIRA SEU NOME</label>
                        <input type="text" class="input-name-signup" id='input-name-signup' name='input-name-signup'>

                        <label for='input-email-signup' class="input-email-signup-text">INSIRA SEU MELHOR E-MAIL</label>
                        <input type="text" class="input-email-signup" id='input-email-signup' name='input-email-signup'>

                        <label for='input-password-signup' class="input-password-signup-text">INSIRA SUA SENHA</label>
                        <input type="text" class="input-password-signup" id='input-password-signup' name='input-password-signup'>

                        <label for='input-confirm-password-signup' class="input-confirm-password-signup-text">CONFIRME SUA SENHA</label>
                        <input type="text" class="input-confirm-password-signup" id='input-confirm-password-signup' name='input-confirm-password-signup'>

                        <label for="input-cpf-signup" class="input-cpf-signup-text">DIGITE SEU CPF</label>
                        <input type="number" class="input-cpf-signup" id="input-cpf-signup" name="input-cpf-signup">

                        <label for="input-sus-card-signup" class="input-sus-card-signup-text">DIGITE SEU CARTÃO SUS</label>
                        <input type="number" class="input-sus-card-signup" id="input-sus-card-signup" name="input-sus-card-signup">

                        <label for="input-sex-signup" class="input-sex-signup-text">DIGITE SEU SEXO</label>
                        <div class="input-sex-signup-f"><input onclick="verifyCheckBox(1);" type="checkbox" id="input-sex-f-signup" name="input-sex-f-signup">F</div>
                        <div class="input-sex-signup-m"><input onclick="verifyCheckBox(2);" type="checkbox" id="input-sex-m-signup" name="input-sex-m-signup">M</div>
                        <div class="input-sex-signup-o"><input onclick="verifyCheckBox(3);" type="checkbox" id="input-sex-o-signup" name="input-sex-o-signup">O</div>
                        
                        <label for="input-date-signup" class="input-date-signup-text">DIGITE SUA DATA DE NASCIMENTO</label>
                        <input class="input-date-signup" id="input-date-signup" name="input-date-signup" type="date"> 

                        <input type="submit" class="submit-signup">
                    
                    </form>

                </div>
            </div>

            <div class="bottom-row"></div>

        </div>
    </div>

{% endblock %}