<!DOCTYPE html>

{% extends 'bases/base.html' %}
{% load static %}

{% block 'head' %}
    <meta charset="UTF-8">              
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/homepage.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&display=swap">
{% endblock %}

{% block 'body' %}

    <div class="content">
        <div style="overflow: hidden;">
            <img src="{% static 'home/img/logo_header.png' %}" style="float: left; margin-right: 10px;">
            <div style="text-align: center;">
                <p><strong>TELEMEDICINA</strong></p>
                <p><strong>E-COMERCE</strong></p>
                <p><strong>PRONTUÁRIO DIGITAL</strong></p>
                <p><strong>BEM-ESTAR</strong></p>
                <div style="float: right;">
                    <p><strong>LOGIN</strong></p>
                    <p><strong>CADASTRE-SE</strong></p>
                </div>
            </div>
        </div>
    </div>

    <div class="imagemPrincipal"></div>

    <div style="text-align: center; margin-top: 700px;">
        <h1 class="homepage-title"> BEM-ESTAR MARINGÁ</h1>
        <h3 class="homepage-subtitle"> o controle da saude na palma da sua mão</h2>
    </div>

    <div style="text-align: center;">
        <p class="homepage-meet-services">CONHEÇA NOSSOS SERVIÇOS</p>
    </div>

        

        <div style="text-align: center;">
            <div class="image-container">
                <img src="{% static 'home/img/image_2.png' %}" alt="" class="imagem">
                <p class="telemedicina-undertext">TELEMEDICINA</p>
            </div>
            <div class="image-container">
                <img src="{% static 'home/img/image_3.png' %}" alt="" class="imagem">
                <p class="medical-record-undertext">PRONTUÁRIO DIGITAL</p>
            </div>
            <div class="image-container">
                <img src="{% static 'home/img/image_4.png' %}" alt="" class="imagem">
                <p class="ecommerce-undertext">E-COMMERSE</p>
            </div>
        </div>
        <div style="text-align: center; height: 50px;">
            <div class="image-container">
                <img src="{% static 'home/img/image_5.png' %}" alt="" class="imagem">
                <p class="chat-undertext">CHAT</p>
            </div>
            <div class="image-container">
                <img src="{% static 'home/img/image_6.png' %}" alt="" class="imagem">
                <p class="well-being-undertext">BEM-ESTAR</p>
            </div>
            <div class="image-container">
                <img src="{% static 'home/img/ret_prontuario.png' %}" alt="" class="imagem">
                <p class="schedule-undertext">AGENDA</p>
            </div>
        </div>
    </div>

    <div class="imagemMedicos">

        <h1 class="homepage-meet-doctors"> CONHEÇA NOSSAS ESPECIALIDADES</h1>

        <div class="especialties-group">
            <div class="column-specialties">
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                    <br>
            </div>
            <div class="column-specialties">
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                    <br>
            </div>
            <div class="column-specialties">
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                    <br>
            </div>
            <div class="column-specialties">
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                    <br>
            </div>
            <div class="column-specialties">
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                <p class="specialties-text"> ESPECIALIDADES</p>
                    <br>
            </div>
        </div>

        <div class="barrabranca"> </div>

        <div style="height: 640px;" class="signin-group">

            {% if messages %}
                {% for message in messages %}
                    <div class="{{ message.tags }}" style="top: 150px">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <div class="container1">

                <div class="footer-logo"></div>

                    <form action="{% url 'realizar_cadastro' %}" method="post"> {% csrf_token %}

                        <label for='input-email-signup' class="input-email-signup-text">INSIRA SEU MELHOR E-MAIL</label>
                        <input type="text" class="input-email-signup" id='input-email-signup' name='input-email-signup'>

                        <label for='input-password-signup' class="input-password-signup-text">INSIRA SUA SENHA</label>
                        <input type="text" class="input-password-signup" id='input-password-signup' name='input-password-signup'>

                        <label for='input-confirm-password-signup' class="input-confirm-password-signup-text">REPITA SUA SENHA</label>
                        <input type="text" class="input-confirm-password-signup" id='input-confirm-password-signup' name='input-confirm-password-signup'>

                        <input type="submit" class="submit-signup"> 
                    
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}