body {
  margin: 0;
  padding: 0;
  background-color: #221E3D;
}

p {
  display: inline-block;
  margin-right: 35px;
  font-size: 20px;
  font-family: Oswald;
}

.container {
  display: flex;
}

.conversas {
  position: fixed;

  top: 80px;
  left: 20px;
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 900px;
  border-radius: 20px;
  border: 3px solid rgb(0, 100, 100);
  padding: 20px;
}

.doctor-chat-background {
  position: relative;
  border: 0px;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-family: Oswald;
  height: 120px;
  width: 300px;
  top: 20px;
  left: 45px;
  margin-bottom: 20px;
}

.specialty {
  position: absolute;
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 20px;
  letter-spacing: 1.5;
  top: 60px;
  left: 110px;
}



.doctor-name {
  position: absolute;
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 20px;
  letter-spacing: 1.5;
  top: 20px;
  left: 110px;
}

.chat-time {
  position: absolute;
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 30px;
  letter-spacing: 1.5;
  top: 70px;
  left: 270px;
}

.vetical-bar {
  position: absolute;
  border: 1px solid black;
  height: 75px;
  width: 0px;
  left: 100px;
  top: 23px;
}

.horizontal-bar {
  position: absolute;
  border: 1px solid black;
  height: 0px;
  width: 60px;
  left: 100px;
  top: 55px;
}


.home-button {
  position: absolute;
  background-color: white;
  border: 2px solid rgb(0, 100, 100);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  font-family: Oswald;
  left: 20px;
  top: 20px;
}

.botao:hover {
  background-color: black;
  color: white;
}

.texto {
  color: rgba(0, 0, 0, 1);
  width: 313px;
  height: 32px;
  left: 70px;
  top: 22px;
  font-family: Oswald;
  text-align: center;
  font-size: 32px;
  letter-spacing: 1.5;
}

.medico {
  width: 78px;
  height: 78px;
  left: 22px;
  top: 100px;
  border-radius: 225px;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
}

.find-doctors {
  position: relative;
  border: 0px;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-family: Oswald;
  height: 60px;
  width: 300px;
  top: 20px;
  left: 45px;
  margin-bottom: 20px;
}

.find-doctors-text {
  position: absolute;
  width: 300px;
  margin: 0px;
  top: 12px;
  left: -6px;
}
