{% extends 'bases/base.html' %}
{% load static %}

{% block 'head' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
{% endblock %}

{% block 'body' %}

    {{active_chat}}

    {% comment %} for element in chat:
    for key, value in element.items():
        if value == 'paciente feliz':
            print(f'PACIENTE: {element["message"]}')
        else:
            print(f'MÉDICO: {element["message"]}') {% endcomment %}

    {% for element in chat %}
        {% if element.user == 'paciente feliz' %}
            <p style="color:coral">{{ element.message }}</p>
        {% else %}
            <p style="color:darkkhaki">{{ element.message }}</p>
        {% endif %}
    {% endfor %}
        

    {% comment %} {% for key_con, value_con in active_chat.items %}
        {% for key, value in value_con.items %}
            {% if True in value.values %}
                
            {% else %}
                <p style="color:darkkhaki">{{value}}</p>
            {% endif %}
        {% endfor %}
    {% endfor %} {% endcomment %}

    {% comment %} <div style="display: grid; font-size: larger; color: rgb(255, 255, 255); margin-left:80px;">
        <p>teste</p>
        <p>teste</p>
        <p>teste</p>
        <p>teste</p>
    </div> 
    {% endcomment %}

    <form action="" method="post"> {% csrf_token %}
        <input type="text" name="input-chat-user">
        <input type="submit" >
    </form>

{% endblock %}
