<!DOCTYPE html>
{% extends 'bases/base.html' %}
{% load static %}

{% block 'head' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'chat/css/chatAtivo.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&display=swap">
    
{% endblock %}

{% block 'body' %}
<button class="home-button">VOLTAR</button>

<div class="container">

  

  <div class="conversas">
    <span  class="chat-title" >SUAS CONVERSAS ATIVAS</span>

    <div>
        <a href="ativo">
          <button class="doctor-chat-background" >
            <div class="doctor-pic"> </div>
            <div class="vetical-bar"> </div>
            <div class="horizontal-bar"> </div>
            <span class="specialty" >Dermatologista </span>
            <span class="doctor-name" >Dr. Anil Khumar </span>
            <span class="chat-time" >2D </span>
          </button>
        </a>
     </div>
     
    <div>
        <button class="doctor-chat-background" >
            <div class="doctor-pic"> </div>
            <div class="vetical-bar"> </div>
            <div class="horizontal-bar"> </div>
            <span class="specialty" >Dermatologista </span>
            <span class="doctor-name" >Dr. Anil Khumar </span>
            <span class="chat-time" >2D </span>
        </button>
     </div>

    <div>
        <button class="doctor-chat-background" >
            <div class="doctor-pic"> </div>
            <div class="vetical-bar"> </div>
            <div class="horizontal-bar"> </div>
            <span class="specialty" >Dermatologista </span>
            <span class="doctor-name" >Dr. Anil Khumar </span>
            <span class="chat-time" >2D </span>
        </button>
     </div>

    <div>
        <button class="doctor-chat-background" >
            <div class="doctor-pic"> </div>
            <div class="vetical-bar"> </div>
            <div class="horizontal-bar"> </div>
            <span class="specialty" >Dermatologista </span>
            <span class="doctor-name" >Dr. Anil Khumar </span>
            <span class="chat-time" >2D </span>
        </button>
     </div>

    <div>
      <a href="encontrar-medicos">
        <button class="find-doctors" >
            <p class="find-doctors-text">ENCONTRAR MAIS MÉDICOS</p>
        </button>
      </a>
    </div>
     
</div>

<div class="chat-background"></div>
<div>
    <div class="chat-input">
     <input class="text-input" type="text" id="messageInput" placeholder="Digite sua mensagem...">
     <img class="send-button" src="https://cdn-icons-png.flaticon.com/512/6492/6492707.png" onclick="sendMessage()" alt="">
    </div>
</div>

<div class="chat-container" id="chatContainer">

</div>

<div class="audio-container">
  <img class="mic-input" src="https://www.iconpacks.net/icons/1/free-microphone-icon-342-thumb.png" onclick="sendMessage()" alt="">
</div>

<script src="chat.js"></script>

</div>
{% endblock %}