
p {
    display:  inline-block;
    font-size: 20px;
    font-family:Oswald;
    margin: 0px;
    padding: 0px;
}

h1{
    font-family:Oswald;
    margin: 1px;
}

h2{
    font-family:Oswald;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
    height: 200px;
}

.imagem{
    position: relative;
    align-items: center;
    width:425px;
    height:450px;
    left:65px;
    top:0px;
    border-radius: 20px;
    background-repeat:no-repeat;
    background-size:cover;
    margin-right: 120px;
    margin-top: 120px;
    display: block;
}

.header-logo-image {
    float: left;
    margin-right: 10px;
    height: 40px;
    left: 40px;
    position: relative;
}

.header-specialties-text {
    top: 5px;
    position: relative;
    font-size: 20px;
    margin-right: 25px;
}

.header-signup-text {
    top: 5px;
    position: relative;
    font-size: 20px;
    float: right;
    margin-right: 40px;
}

.content {
    position: relative;
    z-index: 2;
    background-color: white; /* Início branco da página */
}

.imagemPrincipal{
    box-shadow:0px 59px 69px rgba(127.58724331855774, 183.19590657949448, 56.81255266070366, 0.75);
	width:1903px;
	height: 975px;
	position:absolute;
	left:0px;
	top:-150px;
    background-image: url(../img/imagem_home.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.image-container {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: inline-block;
	background-size:cover;
  }

.homepage-title {
    color: white;
    font-size: 80px;
    position: relative;
    top: -10px;
    font-size: 125px;
}

.homepage-subtitle {
    color: white;
    position: relative;
    font-size: 30px;
    top: -50px;
    height: 30px;
}

.homepage-meet-services {
    position: relative;
    color: white;
    top: 40px;
    font-size: 60px;
    text-align: center;
    top: 70px;
    left: 20px;
    height: 150px;
    margin: 0px;
    padding: 0px;
}

.telemedicina-undertext {
    position: relative;
    font-size: 40px;
    color: white;
    top: -45px;
    font-size: 55px;
} 

.medical-record-undertext {
    position: relative;
    font-size: 40px;
    color: white;
    top: -45px;
    font-size: 55px;
}

.ecommerce-undertext {
    position: relative;
    font-size: 40px;
    color: white;
    top: -45px;
    font-size: 55px;
}

.chat-undertext {
    position: relative;
    font-size: 40px;
    color: white;
    top: -45px;
    font-size: 55px;
}

.well-being-undertext {
    position: relative;
    font-size: 40px;
    color: white;
    top: -45px;
    font-size: 55px;
}

.schedule-undertext {
    position: relative;
    font-size: 40px;
    color: white;
    top: -45px;
    font-size: 55px;
}

.imagemMedicos{
    background-image:url(../img/image_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:1519px;
	height: 800px;
    top:2800px;
    position: absolute;
    border-radius:20px;
    left: 200px;
    box-shadow: inset -0px -60px 120px 20px black;
    
}

.homepage-meet-doctors {
    text-align: center;
    margin-top: 735px;
    color: white;
    font-size: 80px;
}

.especialties-group{ 
	text-align: center;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.signin-group{ 
	text-align: center;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin-top: 40px;
    height: 1050px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.column-specialties {
    display: grid;
    font-size: larger;
}

.specialties-text {
    font-size: 35px;
}

.barrabranca {
    height: 20px;
    background-color: white;
    margin-top: 40px;
    border-radius: 20px;
}

.areaRegistro { 
	width:640px;
	height:640px;
	position:absolute;
	left:750px;
	top:1400px;
	background-image:url(Imagens/footer_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.container1 { 
	width:660px;
	height:520px;
	position:absolute;
}

.input-name-signup-text {
    font-family:Oswald;
    position:absolute;
    top: 0px;
    left: 615px;
    width: 500px;
    font-size: 35px;
}

.input-name-signup { 
	background-color:rgba(255, 255, 255, 1);
	width:653px;
	height:62px;
	position:absolute;
	left:750px;
	top:50px;
	border-radius: 20px;
    font-size: 30px;
    padding-left: 10px;
    font-family: Oswald;
}

.input-email-signup-text {
    font-family:Oswald;
    position:absolute;
    top: 120px;
    left: 680px;
    width: 500px;
    font-size: 35px;
}

.input-email-signup { 
	background-color:rgba(255, 255, 255, 1);
	width:653px;
	height:62px;
	position:absolute;
	left:750px;
	top:170px;
	border-radius: 20px;
    font-size: 30px;
    padding-left: 10px;
    font-family: Oswald;
}

.input-password-signup-text {
    font-family:Oswald;
    position:absolute;
    top: 250px;
    left: 620px;
    width: 500px;
    font-size: 35px;
}

.input-password-signup { 
	background-color: rgb(255, 255, 255);
	width: 653px;
	height: 62px;
	position: absolute;
	left: 750px;
	top: 300px;
	border-radius: 20px;
    font-size: 30px;
    padding-left: 10px;
    font-family: Oswald;
}

.input-confirm-password-signup-text {
    font-family: Oswald;
    position: absolute;
    top: 380px;
    left: 640px;
    width: 500px;
    font-size: 35px;
}

.input-confirm-password-signup { 
	background-color:rgba(255, 255, 255, 1);
	width:653px;
	height:62px;
	position:absolute;
	left:750px;
	top:430px;
	border-radius: 20px;
    font-size: 30px;
    padding-left: 10px;
    font-family: Oswald;
}

.input-cpf-signup { 
	background-color:rgba(255, 255, 255, 1);
	width:653px;
	height:62px;
	position:absolute;
	left:750px;
	top:560px;
	border-radius: 20px;
    font-size: 30px;
    padding-left: 10px;
    font-family: Oswald;
}

.input-cpf-signup-text {
    font-family: Oswald;
    position: absolute;
    top: 510px;
    left: 600px;
    width: 500px;
    font-size: 35px;
}

.input-sus-card-signup { 
	background-color:rgba(255, 255, 255, 1);
	width:653px;
	height:62px;
	position:absolute;
	left:750px;
	top:690px;
	border-radius: 20px;
    font-size: 30px;
    padding-left: 10px;
    font-family: Oswald;
}

.input-sus-card-signup-text {
    font-family: Oswald;
    position: absolute;
    top: 640px;
    left: 660px;
    width: 500px;
    font-size: 35px;
}

.input-sex-signup-f {
    font-family: Oswald;
    position: absolute;
    top: 770px;
    left: 1000px;
    font-size: 35px;
    width: 60px;
}

.input-sex-signup-m {
    font-family: Oswald;
    position: absolute;
    top: 770px;
    left: 1050px;
    font-size: 35px;
    width: 60px;
}

.input-sex-signup-o {
    font-family: Oswald;
    position: absolute;
    top: 770px;
    left: 1100px;
    font-size: 35px;
    width: 60px;
}

.input-sex-signup-text {
    font-family: Oswald;
    position: absolute;
    top: 770px;
    left: 610px;
    width: 500px;
    font-size: 35px;
}

.input-date-signup-text {
    font-family: Oswald;
    position: absolute;
    top: 830px;
    left: 720px;
    width: 500px;
    font-size: 35px;
}

.input-date-signup { 
	background-color:rgba(255, 255, 255, 1);
	width:653px;
	height:62px;
	position:absolute;
	left:750px;
	top:880px;
	border-radius: 20px;
    font-size: 30px;
    padding-left: 10px;
    font-family: Oswald;
}

.submit-signup {
    font-family: Oswald;
    background-color: rgb(72, 151, 81);
	width:283px;
	height:62px;
	position:absolute;
	left:750px;
	top:980px;
	border-radius: 20px;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

.vertical-bar {
    position: relative;
    border-left: 3px solid black;
    top: 100px;
    height: 700px;
    left: 650px;
}

.footer-logo {
    position: absolute;
    background-image: url(../img/footer_logo.jpg);
    height: 500px;
    width: 500px;
    background-repeat:no-repeat;
    margin: 0px;
    padding: 0px;
    top: 140px;
    left: 80px;
}

.bottom-row {
    margin-bottom: 40px;
    height: 40px;
}