<!DOCTYPE html>

{% extends 'bases/base.html' %}
{% load static %}

{% block 'head' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem Estar</title>
    <!-- <link rel="shortcut icon"> -->
    <link rel="stylesheet" href="{% static 'bemestar/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'bemestar/css/bemestar.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Oswald:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link href="../css/health.css" rel="stylesheet">
{% endblock %}


{% block 'body' %}
    <div class="container">
        <div class="container-btn-exit">
            <button class="btn-exit">
                <img src="../img/image 13.png">
                <p class="btn-exit-text">Voltar</p>
            </button>
        </div>
        <main class="main-container">
            <ul class="list">
                <li class="list-item">
                    <div class="title-name-line">
                        <h1 class="title-name">Alimentação Saudável</h1>
                        <div class="title-line"></div>
                    </div>
                    
                    <ul class="horizontal-list">
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                    </ul>

                </li>




                <li class="list-item">
                    <div class="title-name-line">
                        <h1 class="title-name">Alimentação Saudável</h1>
                        <div class="title-line"></div>
                    </div>
                    
                    <ul class="horizontal-list">
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                    </ul>

                </li>


                <li class="list-item">
                    <div class="title-name-line">
                        <h1 class="title-name">Secso Seguro</h1>
                        <div class="title-line"></div>
                    </div>
                    
                    <ul class="horizontal-list">
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                        <li class="horizontal-list-item"></li>
                    </ul>

                </li>


            </ul>
        </main>
    </div>
{% endblock %}